In [1]:
import random
import numpy as np
from pandas import DataFrame as df
import math
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.uniform(0,100,size = (100,26)),columns= list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
print(df)

            A          B          C          D          E          F  \
0   84.231838  40.740207  83.820479  38.080199  55.409899   1.360708
1   71.711109  15.319567  78.035002  98.305861  97.563626  80.754089
2   50.998844  33.461459  94.394512  87.857774  83.809145   7.906209
3   98.335967  53.264355  64.985875   7.915979  83.924975  18.267187
4   79.017892  61.243902  97.300562  88.668705  34.984821  86.213397
..        ...        ...        ...        ...        ...        ...
95  18.127473  38.869006  68.403776  97.414523  31.640034  84.917095
96  64.716906  23.428253  22.174834  29.916110  51.474525  84.523074
97  25.357827  58.678210  78.142107  93.286039  32.885320  17.926631
98  76.949640  40.295313  33.301164  50.869722  98.362910   8.632706
99  22.154121  56.254558  17.393057  57.439639  43.427094   1.944855

            G          H          I          J  ...          Q          R  \
0   38.024792  60.918605  91.252162  81.567752  ...  30.380618  28.686424
1    1.470354  30.813854  15.814144  80.680065  ...  93.899521  47.899917
2   68.626627  10.289253  69.114150  74.320796  ...  65.717390  54.288873
3   88.319397  48.013509  78.807373  13.664698  ...  86.526263  37.046433
4   50.756632  75.144277  38.066724  20.777880  ...  58.386869  31.438727
..        ...        ...        ...        ...  ...        ...        ...
95   8.812651  22.376519  63.224691  79.535262  ...  26.499954  18.996501
96  97.964584   3.174407  70.017817  88.616156  ...  30.987146  32.070532
97  64.847827  78.804890  54.992853   5.428648  ...  17.062215  95.163651
98  74.229026  44.111086  98.198360  95.475153  ...  15.349318  70.644233
99  21.123915  41.449719  51.642838  91.667354  ...  39.440378  44.738725

            S          T          U          V          W          X  \
0   76.089842  36.724202  67.580759  90.332177  94.510162  64.776178
1   81.020024  57.726485  16.825472  46.361422  87.604763  49.354563
2   90.381921  77.884720  94.938113  19.162545  64.392288  22.279216
3   76.884907  44.506470  20.569718  85.118504  96.594925  59.160981
4   80.021871   0.760943  21.488019  44.931413  10.585278  33.441043
..        ...        ...        ...        ...        ...        ...
95  85.413308  28.363710  97.710382  95.244802   6.566988  45.840357
96  86.504587  93.495923  27.152241   4.411464  26.588459  24.913237
97  56.014752   4.760981  41.109220  31.435323  21.491396  11.519761
98  37.986392  28.205476  98.321973  39.740684  93.199662   8.286179
99   4.583082  50.816760  44.113834  98.290348  25.772994  54.673278

            Y          Z
0   20.008330  55.431225
1   67.095939  81.805719
2   56.821182  90.037724
3   62.492617  40.832517
4    4.922042  75.680854
..        ...        ...
95  66.166602  50.710888
96  81.214385   9.464878
97  62.748589  27.061300
98  69.263089  14.850289
99   2.233910   7.958142

[100 rows x 26 columns]

In [3]:
def func(a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z):
    return ((a**2) + (b**4) + (c) + (2*d) + (5*e) + (f/2) + (g**6) + (h**5) + (i) + (2*j) + (12*k) + (l/3) + 
            (m**8) + (n**3) + (o/4) + (11*p) + (6*q) + (r/2)+ (s) + (t**2) + (u*6) + (3*v) + (15*w) + (x/2) + (y**8) + (z*7))

In [4]:
jan = 1
feb = 2
mar = 3
apr = 4
may = 5
jun = 6
jul = 7
aug = 8
sep = 9
oct = 10
nov = 11
dec = 12
mon = [jan,jan,jan,jan,jan,jan,jan,jan,jan,feb,feb,feb,feb,feb,feb,feb,feb,mar,mar,mar,mar,mar,mar,mar,mar,
       apr,apr,apr,apr,apr,apr,apr,apr,may,may,may,may,may,may,may,may,jun,jun,jun,jun,jun,jun,jun,jun,jun,
      jul,jul,jul,jul,jul,jul,jul,jul,aug,aug,aug,aug,aug,aug,aug,aug,sep,sep,sep,sep,sep,sep,sep,sep,sep
      ,oct,oct,oct,oct,oct,oct,oct,oct,oct,nov,nov,nov,nov,nov,nov,nov,nov,dec,dec,dec,dec,dec,dec,dec,dec]
print(mon)
df['month'] = mon

[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12]

In [5]:
df.head()

,A,B,C,D,E,F,G,H,I,J,...,R,S,T,U,V,W,X,Y,Z,month
0,84.231838,40.740207,83.820479,38.080199,55.409899,1.360708,38.024792,60.918605,91.252162,81.567752,...,28.686424,76.089842,36.724202,67.580759,90.332177,94.510162,64.776178,20.008330,55.431225,1
1,71.711109,15.319567,78.035002,98.305861,97.563626,80.754089,1.470354,30.813854,15.814144,80.680065,...,47.899917,81.020024,57.726485,16.825472,46.361422,87.604763,49.354563,67.095939,81.805719,1
2,50.998844,33.461459,94.394512,87.857774,83.809145,7.906209,68.626627,10.289253,69.114150,74.320796,...,54.288873,90.381921,77.884720,94.938113,19.162545,64.392288,22.279216,56.821182,90.037724,1
3,98.335967,53.264355,64.985875,7.915979,83.924975,18.267187,88.319397,48.013509,78.807373,13.664698,...,37.046433,76.884907,44.506470,20.569718,85.118504,96.594925,59.160981,62.492617,40.832517,1
4,79.017892,61.243902,97.300562,88.668705,34.984821,86.213397,50.756632,75.144277,38.066724,20.777880,...,31.438727,80.021871,0.760943,21.488019,44.931413,10.585278,33.441043,4.922042,75.680854,1

In [6]:
alpha = [random.randint(-2,2) for i in range(100) ]
print(alpha)
df['alpha'] =alpha

[0, 0, -1, 0, 2, -2, -2, -2, 1, 2, 2, 0, 1, 0, 2, -2, 2, -2, 2, -1, 1, 0, -2, 1, 2, -1, -1, -2, -1, 2, -1, 2, -1, 1, -1, -2, -2, 1, -2, 2, -1, -2, 1, -2, -1, 2, -1, -1, 2, -2, 1, -1, 0, 0, 0, 1, 2, 0, -2, 2, 0, -1, 0, -2, 2, 0, 2, 1, 2, 2, 0, 0, -1, -1, 0, -1, 1, 0, 2, 2, 0, 1, 1, 2, -2, 0, 0, -1, 1, 2, 0, -2, -1, 2, 0, 2, -2, 0, 1, -1]

In [7]:
 ans = []
for i in range(len(df)):
    y = func(df['A'][i], df['B'][i], df['C'][i], df['D'][i], df['E'][i], df['F'][i], df['G'][i], df['H'][i], df['I'][i], df['J'][i], df['K'][i], df['L'][i],
             df['M'][i], df['N'][i], df['O'][i], df['P'][i], df['Q'][i], df['R'][i],
             df['S'][i], df['T'][i], df['U'][i], df['V'][i], df['W'][i], df['X'][i],
             df['Y'][i], df['Z'][i])
    ans.append(y)
    #print( ans[i])
    ans[i] += mon[i] + alpha[i]
    ans[i] *= 10**(-15)

In [9]:
df['y'] = ans
df.head()

,A,B,C,D,E,F,G,H,I,J,...,T,U,V,W,X,Y,Z,month,alpha,y
0,84.231838,40.740207,83.820479,38.080199,55.409899,1.360708,38.024792,60.918605,91.252162,81.567752,...,36.724202,67.580759,90.332177,94.510162,64.776178,0.000261,55.431225,1,0,0.000261
1,71.711109,15.319567,78.035002,98.305861,97.563626,80.754089,1.470354,30.813854,15.814144,80.680065,...,57.726485,16.825472,46.361422,87.604763,49.354563,8.592189,81.805719,1,0,8.592189
2,50.998844,33.461459,94.394512,87.857774,83.809145,7.906209,68.626627,10.289253,69.114150,74.320796,...,77.884720,94.938113,19.162545,64.392288,22.279216,0.109111,90.037724,1,-1,0.109111
3,98.335967,53.264355,64.985875,7.915979,83.924975,18.267187,88.319397,48.013509,78.807373,13.664698,...,44.506470,20.569718,85.118504,96.594925,59.160981,0.233086,40.832517,1,0,0.233086
4,79.017892,61.243902,97.300562,88.668705,34.984821,86.213397,50.756632,75.144277,38.066724,20.777880,...,0.760943,21.488019,44.931413,10.585278,33.441043,0.048354,75.680854,1,2,0.048354