In [201]:
import random
import numpy as np
from pandas import DataFrame as df
import math
import pandas as pd

In [219]:
df = pd.DataFrame(np.random.uniform(0,100,size = (80,26)),columns= list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
#print(df)
import random
arr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec']
monarr = []
for i in range(80):
    mon = random.choice(arr)
    monarr.append(mon)
df['month'] = monarr
print(df.shape)
df.to_csv('final_corr(n_gt_p).csv')

(80, 27)

In [220]:
#des_mat = np.array([1,1,2,0,1,1,1,0,2,12,4,1,0,0,0,6,0.5,1,1,6,3,0,2,0,1,3,1,2,1,1,5,1,0,2,1,0,3,1])
des_mat = np.zeros(39)
des_mat[10] = 4
des_mat[1] = 2
des_mat[7] = 3
des_mat[11] = 2
def Jan(month):
    if month == 'Jan':
        return 1
    else:
        return 0
def Feb(month):
    if month == 'Feb':
        return 1
    else:
        return 0
def Mar(month):
    if month == 'Mar':
        return 1
    else:
        return 0
def Apr(month):
    if month == 'Apr':
        return 1
    else:
        return 0
def May(month):
    if month == 'May':
        return 1
    else:
        return 0
def Jun(month):
    if month == 'Jun':
        return 1
    else:
        return 0
def Jul(month):
    if month == 'Jul':
        return 1
    else:
        return 0
def Aug(month):
    if month == 'Aug':
        return 1
    else:
        return 0
def Sep(month):
    if month == 'Sep':
        return 1
    else:
        return 0
def Oct(month):
    if month == 'Oct':
        return 1
    else:
        return 0
def Nov(month):
    if month == 'Nov':
        return 1
    else:
        return 0
def Dec(month):
    if month == 'Dec':
        return 1
    else:
        return 0

def func(X):
    design_matrix = np.array([ X[0] ** 2, X[1],X[2], X[3], X[4], X[5], X[6], X[7], X[8]**2,X[9], X[10]*X[11], X[11], X[11],
                     X[12]**3, X[13], X[14], X[15], X[16], X[17]*X[18], X[18], X[19], X[20]**2, X[21], X[22], X[23], X[24],
                     X[25],  Jan(X[26]), Feb(X[26]), Mar(X[26]), Apr(X[26]), May(X[26]),Jun(X[26]), Jul(X[26]),
                     Aug(X[26]),Sep(X[26]), Oct(X[26]), Nov(X[26]), Dec(X[26])])
    return design_matrix.dot(des_mat)

In [221]:
data = pd.read_csv('final_corr(n_gt_p).csv')
data

,Unnamed: 0,A,B,C,D,E,F,G,H,I,...,R,S,T,U,V,W,X,Y,Z,month
0,0,47.085033,91.413177,26.578355,41.382645,46.998111,9.480807,11.716761,72.401716,4.168322,...,83.997271,60.186854,16.831556,83.215445,84.396314,76.747999,54.027273,47.395551,57.813378,Jan
1,1,23.302843,77.958667,27.163128,33.048684,42.344906,20.713850,20.391400,99.394412,68.161066,...,60.295573,81.619817,20.724583,13.696542,31.040318,52.938840,48.457985,15.067952,11.127951,Dec
2,2,78.848180,71.124960,78.116271,31.334014,74.307795,31.364249,99.017248,84.548937,79.371750,...,51.696798,61.964212,20.947317,57.808196,45.222479,87.878090,56.190657,95.694832,86.726028,May
3,3,1.072135,87.958708,95.837638,45.240856,75.379136,26.520488,3.804642,39.811889,27.277022,...,38.017358,63.721538,91.589599,58.024187,81.370469,17.430595,95.485568,1.425251,46.390899,Jun
4,4,9.855676,69.904346,15.713624,7.245542,59.053208,60.275133,34.588667,82.638360,91.507706,...,77.271072,3.857261,0.789833,92.965378,69.719468,65.031178,58.615962,46.409081,40.713284,Feb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,75,2.653781,44.532174,12.146628,84.318265,87.975702,22.420019,73.437098,97.142808,24.634341,...,77.697184,98.097755,63.598746,24.161141,67.510125,54.341314,96.947419,81.441415,56.476230,Sept
76,76,67.196104,3.384032,61.026454,92.455164,7.247302,19.568668,53.010201,18.448412,90.139901,...,83.075830,34.122264,89.621604,81.858244,21.146215,92.095567,74.444997,61.805949,17.660034,May
77,77,18.833892,24.344700,63.790638,22.680446,16.571695,61.778370,78.827738,40.061555,64.416622,...,42.245558,67.857930,85.531525,47.702801,9.998529,44.868436,78.662860,34.582736,65.950673,Apr
78,78,13.271502,76.318749,25.061972,35.445002,67.563555,33.200542,22.319133,35.710662,27.554984,...,54.196223,48.566820,28.237311,89.089379,72.361706,33.712657,93.318069,94.952580,97.561039,Apr
79,79,14.469630,16.710990,17.231219,0.544776,32.853493,86.816420,79.985266,57.932088,27.844967,...,28.450503,27.707907,44.074625,18.881388,3.579376,58.093591,44.151327,15.637188,88.814890,Oct

In [222]:
X = data.to_numpy()
print(X)

[[0 47.08503320728171 91.4131766230039 ... 47.39555111965485
  57.813377648737664 'Jan']
 [1 23.302842861318503 77.95866735968794 ... 15.06795246652729
  11.127951414614769 'Dec']
 [2 78.84817990630856 71.12495997550337 ... 95.69483206824934
  86.72602822914607 'May']
 ...
 [77 18.833891657203303 24.344700071557305 ... 34.58273573941335
  65.95067252589114 'Apr']
 [78 13.271501894272651 76.31874871067468 ... 94.95257951193013
  97.5610393473997 'Apr']
 [79 14.469629980364118 16.71099001835926 ... 15.637187845185728
  88.81489043884028 'Oct']]

In [223]:
yhat_arr = []
for i in X:
    yhat = func(np.array(i))/10000
    yhat_arr.append(yhat)
df['y'] = yhat_arr
df.head()
df.to_csv('final_corr(n_gt_p).csv')